.page {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: auto;
  min-height: calc(100vh - 20rem);
  position: relative;
  flex-shrink: 0;
  background: rgba(166, 127, 120, 0.70);
}

.footer {
  width: 100%;
  height: 10rem;
  position: relative;
  display: flex;
  flex-shrink: 0;
  background: #32435F;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* 홈페이지 메인 */

/* h2

{
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

h3

{
  display: block;
  font-size: 1.17em;
  font-weight: bold;
} */

.mainContainer {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 80%;
  margin: auto;
  margin-top: 50px;
}

.list {
  width: 30%;
  height: 40%;
  margin-bottom: 30px;
  border: 0;
  background-color: transparent;
}

.mainImgBox {
  float: left;
  width: 40%;
  height: 90%;
  margin-left: 30px;
  margin-top: 35px;
  background-image: url(http://shopping.phinf.naver.net/main_1031546/10315467179.jpg);
  background-color: white;
  background-size: cover;
  border: 0;
}

.mainInfoBox {
  text-align: left;
  display: inline-block;
  margin-left: 30px;
  margin-top: 15px;
  width: 45%;
  height: 90%;
}

.mainCategory {
  margin-top: 20px;
  margin-bottom: 70px;
  width: 5rem;
  height: 2rem;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.mainTitle {
  width: 12 rem;
  height: 3.6875rem;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}

.mainPrice {
  margin-top: 100px;
  width: 9rem;
  height: 1.7rem;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

/* 마이페이지 */

.mypageTitle {
  font-size: 2em;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.myTitle {
  margin-top: 20px;
  margin-bottom: 70px;
  width: 12 rem;
  height: 3.6875rem;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
}

.myPayBox {
  width: 12rem;
  height: 2rem;
  margin-top: 100px;
}

.myDate {
  width: 12rem;
  height: 1.9375rem;
  flex-shrink: 0;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.myPayPrice {
  width: 6rem;
  height: 1.9375rem;
  float: left;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}

.myPayCancel {
  width: 6rem;
  height: 1.9375rem;
  float: right;
  text-decoration: none;
  border: 0;
  background-color: white;
}

/* 상세 페이지 메인 */

.detailBox {
  width: 60rem;
  height: 80%;
  margin: auto;
}

.detailImgBox {
  float: left;
  width: 40%;
  height: 80%;
  margin-left: 30px;
  margin-top: 35px;
  background-image: url(http://shopping.phinf.naver.net/main_1031546/10315467179.jpg);
  background-color: white;
  background-size: cover;
}

.detailInfoBox {
  text-align: left;
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
  width: 50%;
  height: 90%;
}

.detailCoupon {
  margin-bottom: 100px;
  width: 12 rem;
  height: 5rem;
  border: 0;
  margin: auto;
}

.detailCouponBtn {
  margin: auto;
  width: 50%;
  height: 30%;
}

.dropContent {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.hideContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropContent button {
  color: black;
  text-decoration: none;
  flex-direction: column
}

.hideContent button {
  color: black;
  text-decoration: none;
  display: block;
}

.detailTitle {
  margin-bottom: 100px;
  width: 12 rem;
  height: 5rem;
}

.detailEvent {
  margin-bottom: 100px;
  width: 12 rem;
  height: 5rem;
}

.detailPrice {
  width: 12 rem;
  height: 5rem;
}

.payBtn {
  left: 47%;
  width: 11rem;
  height: 3rem;
  font-size: 25px;
  font-weight: bold;
  text-align: right;
  position: absolute;
  background: white;
  background-image: url('./img/Toss_Symbol.png');
  background-size: 3rem 3rem;
  background-position: 7%;
  background-repeat: no-repeat;
  border: 0;
}

/* 작은 페이지 틀 */

.miniPage {
  display: inline-flex;
  width: 24.4rem;
  height: 30rem;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background: #FFF;
}

.miniHeader {
  display: flex;
  width: 100%;
  height: 3.4375rem;
  margin: auto;
  align-items: center;
  gap: 7.8125rem;
  flex-shrink: 0;
  background: #FFF;
}

.miniHeaderVector {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  background-image: url('./img/miniPage.svg');
  background-size: cover;
  background-color: white;
  border: 0;
}

.miniHeaderFont {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.miniBox {
  width: 21.25rem;
  height: 20.8125rem;
  flex-shrink: 0;
  background-color: white;
}

.miniInputBox {
  display: flex;
  width: 21.25rem;
  height: 3.125rem;
  padding-top: 16px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 0.875rem;
  flex-shrink: 0;
  border: 0;
  font-weight: bold;
  color: black;
}

.wrongPwdConfirm,
.wrongPwd,
.wrongEmail {
  color: var(--red_error, #DF2626);
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.miniBoxLine {
  width: 21.25rem;
  height: 0.0625rem;
  flex-shrink: 0;
  border-radius: 0.0625rem;
  background: var(--black_theme, #000);
}

.miniButton {
  display: flex;
  margin-top: 100px;
  width: 21.25rem;
  height: 3.125rem;
  padding: 0.9375rem 0rem 1rem 0rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
  font-weight: bold;
  border-radius: 0.4375rem;
  background: var(--black_theme, #000);
}

.miniFailButton {
  display: flex;
  margin-top: 100px;
  width: 21.25rem;
  height: 3.125rem;
  padding: 0.9375rem 0rem 1rem 0rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
  font-weight: bold;
  border-radius: 0.4375rem;
  border: 0;
  background: var(--gray_btn_disabled, #DDD);
}

/* 결제 결과 페이지 */

.payBox {
  width: 21.25rem;
  height: 20.8125rem;
  flex-shrink: 0;
  background-color: white;
}

.payHeaderFont {
  color: blue;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin: auto;
}

.payHeaderFailFont {
  color: red;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  margin: auto;
}

.payProductBox,
.payDateBox,
.payMethodBox,
.payPriceBox {
  width: 21rem;
  height: 3.4375rem;
  flex-shrink: 0;
  background-color: white;
  float: right;
  display: flex;
}

.payProduct {
  margin-left: 20px;
  width: 14.0625rem;
  height: 3.4375rem;
  flex-shrink: 0;
  background-color: white;
  float: right;
}

.payPrice {
  margin-left: 20px;
  width: 14.0625rem;
  height: 2.0625rem;
  flex-shrink: 0;
  background-color: white;
  float: right;
}

.payMethod {
  margin-left: 20px;
  width: 14.0625rem;
  height: 2.0625rem;
  flex-shrink: 0;
  background-color: white;
  float: right;
}

.payDate {
  margin-left: 20px;
  width: 14.0625rem;
  height: 2.0625rem;
  flex-shrink: 0;
  background-color: white;
  float: right;
}

.paySecondBtn {
  display: flex;
  margin-top: 20px;
  width: 21.25rem;
  height: 3.125rem;
  padding: 0.9375rem 0rem 1rem 0rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: white;
  font-weight: bold;
  border-radius: 0.4375rem;
  background: var(--black_theme, #000);
}

/* 페이징 */

.pagination {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 760px;
  margin-top: 30px;
  gap: 18px;
  width: 40%;
  height: 40px;
}

.pageBtn {
  width: 40px;
  height: 40px;
  color: black;
  background-color: white;
  border: 0;
}

.pageActive {
  width: 40px;
  height: 40px;
  color: white;
  background-color: black;
  border: 0;
}

.lastPage {
  width: 40px;
  height: 40px;
  background-image: url('./img/lastPage.svg');
  background-size: cover;
  background-position: center;
  border: 0;
}

.nextPage {
  width: 40px;
  height: 40px;
  background-image: url('./img/nextPage.svg');
  background-size: cover;
  background-position: center;
  border: 0;
}

.prevPage {
  width: 40px;
  height: 40px;
  background-image: url('./img/prevPage.svg');
  background-size: cover;
  background-position: center;
  border: 0;
}

.firstPage {
  width: 40px;
  height: 40px;
  background-image: url('./img/firstPage.svg');
  background-size: cover;
  background-position: center;
  border: 0;
}

/* 헤더 */

.header {
  display: flex;
  width: 100%;
  height: 10rem;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  background: #E1DCD9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.headerBtnBox {
  display: inline-flex;
  padding: 0.5625rem 0.625rem 0.8125rem 0.75rem;
  justify-content: center;
  align-items: flex-start;
  gap: 3.0625rem;
  margin: 30px;
}

.HoosMall {
  width: 220px;
  color: #000;
  margin: auto;
  margin-right: 760px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  border: 0;
  background-color: transparent;
}

.register,
.login,
.logout,
.mypage {
  width: 8.4375rem;
  height: 3.375rem;
  flex-shrink: 0;
  border: 1px solid #DDD;
  background: #EEE;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.login {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.register {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.logout {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mypage {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}